[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imageio = "==2.9.0"
numpy = "==1.21.2"
Pillow = "==8.3.2"
build = "==0.7.0"
colorama = "==0.4.4"
pep517 = "==0.12.0"
pyparsing = "==2.4.7"
tomli = "==1.2.2"
bleach = "==4.1.0"
certifi = "==2021.10.8"
charset-normalizer = "==2.0.7"
docutils = "==0.18"
idna = "==3.3"
importlib-metadata = "==4.8.1"
keyring = "==23.2.1"
pkginfo = "==1.7.1"
pywin32-ctypes = "==0.2.0"
readme-renderer = "==30.0"
requests = "==2.26.0"
requests-toolbelt = "==0.9.1"
rfc3986 = "==1.5.0"
six = "==1.16.0"
tqdm = "==4.62.3"
twine = "==3.4.2"
urllib3 = "==1.26.7"
webencodings = "==0.5.1"
zipp = "==3.6.0"
Pygments = "==2.10.0"

[dev-packages]

[requires]
python_version = "3.9"
