[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imageio = "==2.9.0"
numpy = "==1.21.2"
Pillow = "==8.3.2"
gifconverter = {editable = true, path = "./.."}

[dev-packages]

[requires]
python_version = "3.9"
